<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>keywords</key>
	<array>
		<dict>
			<key>modelId</key>
			<integer>1</integer>
			<key>name</key>
			<string>iPhoto</string>
			<key>uuid</key>
			<string>UJp1DO6RT5KmK2vHuf6eIA</string>
			<key>zChildren</key>
			<array>
				<dict>
					<key>modelId</key>
					<integer>3</integer>
					<key>name</key>
					<string>个人收藏</string>
					<key>parentUuid</key>
					<string>UJp1DO6RT5KmK2vHuf6eIA</string>
					<key>uuid</key>
					<string>YIA%EgB%Tj6ll1tqUKW2eQ</string>
				</dict>
				<dict>
					<key>modelId</key>
					<integer>5</integer>
					<key>name</key>
					<string>孩子</string>
					<key>parentUuid</key>
					<string>UJp1DO6RT5KmK2vHuf6eIA</string>
					<key>uuid</key>
					<string>6kX3mQ4xT9eYVAKUXO8ZaA</string>
				</dict>
				<dict>
					<key>modelId</key>
					<integer>6</integer>
					<key>name</key>
					<string>度假</string>
					<key>parentUuid</key>
					<string>UJp1DO6RT5KmK2vHuf6eIA</string>
					<key>uuid</key>
					<string>CjTDVGbDR2ugLDCapr8xSw</string>
				</dict>
				<dict>
					<key>modelId</key>
					<integer>4</integer>
					<key>name</key>
					<string>家庭</string>
					<key>parentUuid</key>
					<string>UJp1DO6RT5KmK2vHuf6eIA</string>
					<key>uuid</key>
					<string>K2dyYshqSLSxTelVtCCOIA</string>
				</dict>
				<dict>
					<key>modelId</key>
					<integer>9</integer>
					<key>name</key>
					<string>Photo Stream</string>
					<key>parentUuid</key>
					<string>UJp1DO6RT5KmK2vHuf6eIA</string>
					<key>uuid</key>
					<string>O9MV5b7gRU6bpkhAfc8gFw</string>
				</dict>
				<dict>
					<key>modelId</key>
					<integer>2</integer>
					<key>name</key>
					<string>_Favorite_</string>
					<key>parentUuid</key>
					<string>UJp1DO6RT5KmK2vHuf6eIA</string>
					<key>uuid</key>
					<string>CTwji9HIRmiNFa43LtPCYg</string>
				</dict>
				<dict>
					<key>modelId</key>
					<integer>7</integer>
					<key>name</key>
					<string>生日</string>
					<key>parentUuid</key>
					<string>UJp1DO6RT5KmK2vHuf6eIA</string>
					<key>uuid</key>
					<string>mpv8lkBNTZWJvDr75vG2OQ</string>
				</dict>
			</array>
		</dict>
	</array>
	<key>keywords_version</key>
	<integer>6</integer>
</dict>
</plist>
